@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
layer(base);
@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme {
	--color-principal-1: #f1f1f1;
	--color-principal-2: #ffe8b4;
	--color-principal-3: #ffc145;
	--color-principal-4: #ff9500;
	--color-principal-5: #ff6800;
	--color-principal-6: #d96318;
	--color-zinc-10: #f1f1f1;
}

@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentColor);
	}
}

* {
	font-family: 'Montserrat', sans-serif;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--color-zinc-10);
}
